# --------------------
# Jupyter
# --------------------
.ipynb_checkpoints/

# --------------------
# Data files (DO NOT COMMIT)
# --------------------
data/
*.zip

# --------------------
# Trained models
# --------------------
*.h5
*.pt
*.pth
*.ckpt

# --------------------
# Python cache
# --------------------
__pycache__/
*.pyc

# --------------------
# Virtual environments
# --------------------
.venv/
env/